.wrapper {
    width: 100%;
    min-width: 650px;
    height: calc(100vh - 190px);
    font-size: 12px;
    overflow: hidden;
    // display: flex;
}

.wrapper2 {
    height: calc(100vh - 110px);
}

.bottom {
    height: calc(100% - 40px);
    display: flex;
    overflow: auto;
}

.right {
    flex: 0 0 87.5%;
}

.left {
    flex: 0 0 12.5%;
}

.blod {
    font-weight: bold;
}

.content {
    height: calc(100% - 40px);

}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header {
    position: absolute;
    right: 8px;
    margin-top: -48px;
}

.ceil {
    position: relative;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;

}

.flex8 {
    flex: 0 0 calc(100% / 8);
}

.flex7 {
    flex: 0 0 calc(100% / 7);
}

.menu {
    position: absolute;
    background: red;
}