.wrapper {
    width: 100%;
    min-width: 650px;
    height: calc(100vh - 170px);
    background: linear-gradient(rgb(83, 194, 250) 50%, rgba(83, 194, 250, 0.2) 100%);
    overflow: auto;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.ceil {
    position: relative;
    flex: 0 0 12.5%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;

    &:nth-child(n+9) {
        border-radius: 5px;
    }
}
.menu{
    position: absolute;
    background: red;
}